name: example-basic-pnpm
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

jobs:
  basic-pnpm:
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04,
#          windows-2022,
#          macos-14
          ]
        node: [18, 20, 22, 23]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4


        # See https://github.com/actions/setup-node
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - run: corepack -v
      - run: corepack enable pnpm
        working-directory: examples/basic-pnpm

      - name: Cypress tests
        # if you copy this workflow to another repository
        # take the next line as replacement for ./
        # uses: cypress-io/github-action@v6
        uses: ./
        with:
          working-directory: examples/basic-pnpm
          build: pnpm exec cypress info
