name: example-chrome-for-testing
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:
env:
  FORCE_JAVASCRIPT_ACTIONS_TO_NODE24: true

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Chrome for Testing
        # https://github.com/browser-actions/setup-chrome
        uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: 140
      - name: Cypress info
        uses: ./ # if copying, replace with cypress-io/github-action@v7
        with:
          # just for full picture after installing Cypress
          # print information about detected browsers, etc
          # see https://on.cypress.io/command-line#cypress-info
          build: npm run info
          working-directory: examples/browser
          browser: chrome-for-testing
